/* inputs */
.input-container {
  position: relative;
  margin: 50px auto 70px auto; /* Updated margin */
  width: 500px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

/* image */
.flex-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.main-77 {
  list-style: none;
}

.download-btn {
  display: none;
}

.download-btn.show {
  display: inline-block;
}
/* selected */
.fixed {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  background: #000;
  width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
}

.one-1 {
  list-style-type: none;
    padding: 0;
    overflow-y: auto;
    height: 500px;
}

/* Style the scrollbar */
.one-1::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

.one-1::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle (the draggable part of the scrollbar) */
.one-1::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
.one-1::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}


.one-2 {
  margin-bottom: 20px;
  display: flex;
  padding: 85px;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.one-3 {
    max-width: 100%;
    width: 300px;
    margin-bottom: 10px;
}

.close {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 80px;
  cursor: pointer;
}

.main-56 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p {
  margin: 5px 0;
}

.flex-09 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
      color: transparent;
}

a:hover {
  text-decoration: underline;
}



/* btn */

.btn2 {
    position: relative;
    display: inline-block;
    padding: 13px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #fefefe;
}

.btn2 span {
    position: relative;
    color: white;
    z-index: 1010;
    font-size: 12px;
}

.main-34{
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.center{
    justify-content: center;
    margin-bottom: 25px;
}

/* loading */
.newtons-cradle {
 --uib-size: 50px;
 --uib-speed: 1.2s;
 --uib-color: #474554;
 position: relative;
 margin: 0 auto;
 width:300px;
 display: flex;
 align-items: center;
 justify-content: center;
 width: var(--uib-size);
 height: var(--uib-size);
}

.newtons-cradle__dot {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 300px;
 transform-origin: center top;
}

.newtons-cradle__dot::after {
 content: '';
 display: block;
 width: 100%;
 height: 25%;
 border-radius: 50%;
 background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
 animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
 animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
 0% {
  transform: rotate(0deg);
  animation-timing-function: ease-out;
 }

 25% {
  transform: rotate(70deg);
  animation-timing-function: ease-in;
 }

 50% {
  transform: rotate(0deg);
  animation-timing-function: linear;
 }
}

@keyframes swing2 {
 0% {
  transform: rotate(0deg);
  animation-timing-function: linear;
 }

 50% {
  transform: rotate(0deg);
  animation-timing-function: ease-out;
 }

 75% {
  transform: rotate(-70deg);
  animation-timing-function: ease-in;
 }
}

/* loading end */

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  .fixed {
    width: 1000px; 
  }
}

/* For screens smaller than or equal to 1200px */
@media (max-width: 1200px) {
  .fixed {
    width: 90%;
  }
}

/* For screens smaller than or equal to 992px */
@media (max-width: 992px) {
  .input-container {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .input-container {
    width: 70%;
  }
    .gal_9{
    display: none;
  }
  .one-3{
    width: 55%;
    height: auto;
  }
}

/* For screens smaller than or equal to 768px */
@media (max-width: 768px) {
  .input-container {
    width: 80%; 
  }
  .show{
    display: none;
  }
  .one-3 {
    width: 86%;
    height: auto;
}
}

/* For screens smaller than or equal to 480px */
@media (max-width: 480px) {
  .input-container {
    width: 90%; 
  }
.fixed{
    top: 50px;
}

  .btn2 {
    font-size: 16px;
  }
  
 .input-container {
    width: 95%;
  }
  
  .container{
    width: 320px;
    padding: 0;
  }

  .one-2{
flex-direction: column;
    background: #000;;
  }
  .flex-4{
flex-direction: column-reverse;
    width: 320px;
    margin: 0;
  }
  .main-56{
    flex-direction: column-reverse;
  }
        .flex-09{
            flex-direction: column;
        }
        .one-3{
          width: 100%;
            height: auto;
        }
        .btn2 span{
            font-size: 13px;
        }
}

/* For screens smaller than or equal to 320px */
@media (max-width: 320px) {
  .input-container {
    width: 95%; /* Adjust as needed */
  }

  .btn2 {
    font-size: 14px; /* Adjust as needed */
  }
}


