.title {
  font-size: 50px;
  padding: 18px;
  background-color: rgb(2, 2, 28);
  color: #fff;
  text-align: left;
  margin: 0 auto;
  transition: 0.2s;
  max-width: 1330px;
}

.title:hover {
  text-decoration: underline;
}
